<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Rendering</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="List.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="students.length > 1"></div>
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(student,index) in students">
                        <td>{{++index}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.gender}}</td>
                        <td>
                            <button @click="detail(index)">Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>
</html>